
#button-div{
	padding-top:20px;
	button{
		width: 183px;
		margin-left: 10px;
		margin-bottom: 10px;
	}
	button:disabled{
		cursor:not-allowed;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

h1{
	color: #fff;
	font-size: 50px;
	text-shadow: #444 1px 1px 2px;
	font-family: Slackey,"Lucida Grande","Lucida Sans Unicode",Tahoma,Geneva,Arial,Verdana,sans-serif;
	padding: 20px; 
	background-color: #637e9a;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0,.3);
}


#grid{
	margin: auto;
	width: 27% !important;
	tbody{
		background-color: #8f96b1;
		box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.5)
	}	
	tr:first-child td {
		border-top: 4px solid #637e9a;
	}	
	tr:nth-child(3n) td {
		border-bottom: 4px solid #637e9a;
	}	
	td:first-child {
		border-left:4px solid #637e9a;
	}	
	td:nth-child(3n) {
		border-right:4px solid #637e9a;
	}	
	td {
		border: 1px solid lightgrey;
		input {
			outline:none;
			text-align: center;
			width: 30px;
			text-align: center;
		}		
		input:hover {
			background: #eee;
		}		
	}	
}

