<!--The content below is only a placeholder and can be replaced.-->
<div class="text-center">
  <h1>Sudoku</h1>
  <div>
    <span>Timer: <span *ngIf="!duration">0:00:00</span>{{duration}}</span>
  </div>
  <div>
    <table class="table" id="grid">
      <tbody #gridRef>
        <tr class="grid-rows" *repeatTag= "9" > 
          <td *repeatTag= "9"><input type="text" readonly/></td>
        </tr>
      </tbody>
    </table>
  </div> 
  <div id="button-div"> 
    <button type="button" class="btn btn-primary" (click)="buildOwnPuzzle();startTimer()">Build your own</button>
    <button type="button" class="btn btn-primary" (click)="solvePuzzle();clearTimer()">Solve</button>
    <button type="button" class="btn btn-primary"  
    [disabled]="disableStart" (click)="buildNewPuzzle(false);startTimer()">Generate New</button>
  </div> 
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>



  

